*~
.cache
.dap-breakpoints
.lsp-session*
.org-id-locations
auto-save-list
eclipse.jdt.ls
eln-cache
eshell
forge-database.sqlite
history
org-persist
projectile-bookmarks.eld
recentf
request
straight
tramp
transient
url
workspace
